/* CSS declarations go here */
html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
#panelframe {
  height: 90%;
  width: 90%;
}
#panel {
  position: absolute;
  height: 90%;
  width: 90%;

  left: 5%;
  border: 3px solid;
  border-radius: 5px;
  margin: auto;
}
#root {
  position: static;
  height: 100%;
  width: 100%;
  min-height: 100%;
}
#background {
  position: absolute;
  width:30%;
  height:30%;
  top: 50%;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
}
.N, .S, .E, .W {
  position: absolute;
  width:5%;
  height:5%;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.5;
  transition: opacity 300ms ease-in;
}
.N {
  top: 0%;
  left:50%;
}

.S {
  bottom: 10%;
  left:50%;
  transform: rotate(180deg);
}
.E {
  top: 45%;
  right:5%;
  transform: rotate(90deg);
}
.W {
  top: 45%;
  left:5%;
  transform: rotate(-90deg);
}
.N:hover {
  opacity: 1.0;
  transition: opacity 300ms ease-in;
}
.S:hover {
  opacity: 1.0;
  transition: opacity 300ms ease-in;
}
.E:hover {
  opacity: 1.0;
  transition: opacity 300ms ease-in;
}
.W:hover {
  opacity: 1.0;
  transition: opacity 300ms ease-in;
}
#panel.example-enter {
  opacity: 0.01;
}

#panel.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

#panel.example-exit {
  opacity: 1;
}

#panel.example-exit.example-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

#panel.E-enter {
  opacity: 0.01;
}

#panel.E-enter.E-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

#panel.E-leave {
  opacity: 1;
}

#panel.E-leave.E-leave-active {
  left:200%;
  transition: left 1000ms;
}

#panel.W-enter {
  opacity: 0.01;
}

#panel.W-enter.W-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

#panel.W-leave {
  opacity: 1;
}

#panel.W-leave.W-leave-active {
  left:-200%;
  transition: left 1000ms;
}

#panel.N-enter {
  opacity: 0.01;

}
#panel.N-enter.N-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

#panel.N-leave {
  opacity: 1;
  top:-5%;
}

#panel.N-leave.N-leave-active {
  top:200%;
  transition: top 1000ms;
}
#panel.S-enter {
  opacity: 0.01;

}
#panel.S-enter.S-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

#panel.S-leave {
  opacity: 1;
  top: 0%;
}

#panel.S-leave.S-leave-active {
  top:-200%;
  transition: top 1000ms;
}
